* {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.border {
    border: 1.5px solid transparent;  
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #CCCCCC; 
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-second {
    font-size: 1rem;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #E6E6E6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
    text-align: center;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #ff9900;
    color: #0F1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

span {
    font-size: 0.7rem;
}

.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}